.sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 64px;
    width: 250px;
    background: #2c3e50;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    touch-action: none;

    &.open {
      transform: translateX(0);
    }

    &.overlay-mode {
      z-index: 1001;
    }
  }

  .sidenav-bar{
    width: 64px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #001122;
    z-index: 1001;
}