:host(.sidenav-content) {
  display: block;
  transition: all 0.3s ease-in-out;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 64px;
  right: 0;

  &.side {
    margin-left: 0;

    &.shifted {
      margin-left: 350px;
    }
  }

  &.push {
    margin-left: 0;

    &.shifted {
      transform: translateX(350px);
    }
  }

  &.over {
    margin-left: 0;

    &.shifted {
      margin-left: 0;
    }
  }
}