<div class="navbar">
    <h1>Angular Sidenav</h1>
</div>
<app-sidenav-container class="sidenav-main">
    <app-sidenav [leftNavWidth]="80" [rightNavWidth]="350" [isOpen]="isSidenavOpen" [mode]="currentMode" (closed)="closeSidenav()">
        <div leftNavContent class="sidenav-items">
            <div class="sidenav-item" *ngFor="let item of menuItems; let i = index">
              {{ i }}
            </div>
          </div>
          <div rightNavContent class="sidenav-items">
            <div class="sidenav-item" *ngFor="let item of menuItems">
              {{ item }}
            </div>
          </div>
    </app-sidenav>
    <app-sidenav-content >
        <div class="controls">
            <button class="toggle-button" (click)="toggleSidenav()">
                {{ isSidenavOpen ? 'Close Menu' : 'Open Menu' }}
            </button>
            <button class="toggle-button" (click)="setMode('side')" [class.active]="currentMode === 'side'">
                Side Mode
            </button>
            <button class="toggle-button" (click)="setMode('push')" [class.active]="currentMode === 'push'">
                Push Mode
            </button>
            <button class="toggle-button" (click)="setMode('over')" [class.active]="currentMode === 'over'">
                Over Mode
            </button>
        </div>
    </app-sidenav-content>
</app-sidenav-container>